<div class="section">
  <div class="container">

    <div class="row"></div>
    <div class="row">
      <div class="mt-5">
        <div class="col-md-12">
        <h1 class="title text-center">Stories</h1>
        <div class="row mt-5">
            <h6 class="text-center" *ngIf="stories.length == 0"> There are no stories yet for this mountain</h6>
            <div *ngFor="let story of stories;let i = index">
              <div class="row collections" *ngIf="i%4===0">
                <div class="col-md-3">
                  <div class="card" style="height: 32rem;">
                    <img class="card-img-top" src="assets/img/bg1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{stories[i].title}}</h5>
                      <p class="card-text" *ngIf="stories[i].text != null &&  stories[i].text.length >= 200">  {{truncateDescription(stories[i].text)}} ... </p>
                      <p class="card-text" *ngIf="stories[i].text != null &&  stories[i].text.length < 200">  {{stories[i].text}}  </p>
                      <button class="btn btn-primary btn-round btn-read" (click)="goToViewStory(stories[i].id)">Read more</button>
                    </div>
                  </div>
                </div>
                <div *ngIf="stories[i + 1]" class="col-md-3">
                  <div class="card" style="height: 32rem;">
                    <img class="card-img-top" src="assets/img/bg1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{stories[i+1].title}}</h5>

                      <p class="card-text" *ngIf="stories[i+1].text != null &&  stories[i+1].text.length >= 200">  {{truncateDescription(stories[i+1].text)}} ... </p>
                      <p class="card-text" *ngIf="stories[i+1].text != null &&  stories[i+1].text.length < 200">  {{stories[i+1].text}} </p>
                      <button href="#" class="btn btn-primary btn-round btn-read" (click)="goToViewStory(stories[i+1].id)">Read more</button>
                    </div>
                  </div>
                </div>
                <div *ngIf="stories[i + 2]" class="col-md-3">
                  <div class="card" style="height: 32rem;">
                    <img class="card-img-top" src="assets/img/bg1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{stories[i+2].title}}</h5>

                      <p class="card-text" *ngIf="stories[i+2].text != null &&  stories[i+2].text.length >= 200">  {{truncateDescription(stories[i+2].text)}} ... </p>
                      <p class="card-text" *ngIf="stories[i+2].text != null &&  stories[i+2].text.length < 200">  {{stories[i+2].text}} </p>
                      <button class="btn btn-primary btn-round btn-read" (click)="goToViewStory(stories[i+2].id)">Read more</button>
                    </div>
                  </div>
                </div>
                <div *ngIf="stories[i + 3]" class="col-md-3">
                  <div class="card" style="height: 32rem;">
                    <img class="card-img-top" src="assets/img/bg1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{stories[i+3].title}}</h5>

                      <p class="card-text" *ngIf="stories[i+3].text != null &&  stories[i+3].text.length >= 200">  {{truncateDescription(stories[i+3].text)}} ... </p>
                      <p class="card-text" *ngIf="stories[i+3].text != null &&  stories[i+3].text.length < 200">  {{stories[i+3].text}} </p>
                      <button class="btn btn-primary btn-round btn-read" (click)="goToViewStory(stories[i+3].id)">Read more</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
