<div class="row row-map">
  <div class="col-md-9">
    <h2 class="heading">Map</h2>
    <hr/>
    <div id='menu'>
      <input id='streets' type='radio' name='rtoggle' value='streets'>
      <label for='streets'>streets</label>
      <input id='comic' type='radio' name='rtoggle' value='comic'>
      <label for='comic'>comic</label>
      <input id='light' type='radio' name='rtoggle' value='light'>
      <label for='light'>light</label>
      <input id='dark' type='radio' name='rtoggle' value='dark'>
      <label for='dark'>dark</label>
      <input id='satellite' type='radio' name='rtoggle' value='satellite'>
      <label for='satellite'>satellite</label>
    </div>
    <hr/>
    <div id="map"></div>

  </div>

</div>
