#map{ height: 600px;
  width: auto;
}

.row-map{
  background-color: rgba(255,255,255,0.94);
  padding: 10px 32px;
  min-height: 640px;
}

.heading{
  font-family: 'Fjalla One', sans-serif;
}


.btn-read {
  position: absolute;
  text-align: center;
  bottom: 4%;
}
