<div class="section">
<div class="container">
<div class="row row-map">
  <div class="col-md-12">
    <br><br> <br><br>
    <h5 class="heading text-center">{{mountain}}</h5>
    <hr/>
    <div id="map"></div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12 mt-5">
      <h4 class="title text-center">Read their stories</h4>
      <div class="row mt-5">
        <div class="col-md-12 ml-auto mr-auto">
          <div *ngIf="pagedStories != undefined" >
          <div *ngFor="let story of pagedStories;let i = index ">
            <div class="row collections" *ngIf="i%3===0">
              <div class="col-md-4">
                <div class="card" style="height: 35rem;">
                  <img class="card-img-top" *ngIf="pagedStories[i].pictures != null" src="{{prelucrateImage(pagedStories[i].pictures[0])}}" alt="Card image cap">
                  <img class="card-img-top" *ngIf="pagedStories[i].pictures == null" src="assets/img/default.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{pagedStories[i].title}}</h5>

                    <p class="card-text" *ngIf="pagedStories[i].text != null &&  pagedStories[i].text.length >= 375">  {{truncateDescription(pagedStories[i].text)}} ... </p>
                    <p class="card-text" *ngIf="pagedStories[i].text != null &&  pagedStories[i].text.length < 375">  {{pagedStories[i].text}}  </p>
                    <div class="row-fluid">
                      <button class="btn btn-primary btn-round btn-read" (click)="goToViewStory(pagedStories[i].id)">See full story</button>

                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="pagedStories[i + 1]" class="col-md-4">
                <div class="card" style="height: 35rem;">
                  <img class="card-img-top" *ngIf="pagedStories[i+1].pictures != null" src="{{prelucrateImage(pagedStories[i+1].pictures[0])}}" alt="Card image cap">
                  <img class="card-img-top" *ngIf="pagedStories[i+1].pictures == null" src="assets/img/default.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{pagedStories[i+1].title}}</h5>

                    <p class="card-text" *ngIf="pagedStories[i+1].text != null &&  pagedStories[i+1].text.length >= 375">  {{truncateDescription(pagedStories[i+1].text)}} ... </p>
                    <p class="card-text" *ngIf="pagedStories[i+1].text != null &&  pagedStories[i+1].text.length < 375">  {{pagedStories[i+1].text}} </p>
                    <div class="row-fluid">
                      <button class="btn btn-primary btn-round btn-read" (click)="goToViewStory(pagedStories[i+1].id)">See full story</button>

                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="pagedStories[i + 2]" class="col-md-4">
                <div class="card" style="height: 35rem;">
                  <img class="card-img-top" *ngIf="pagedStories[i+2].pictures != null" src="{{prelucrateImage(pagedStories[i+2].pictures[0])}}" alt="Card image cap">
                  <img class="card-img-top" *ngIf="pagedStories[i+2].pictures == null" src="assets/img/default.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{pagedStories[i+2].title}}</h5>

                    <p class="card-text" *ngIf="pagedStories[i+2].text != null &&  pagedStories[i+2].text.length >= 375">  {{truncateDescription(pagedStories[i+2].text)}} ... </p>
                    <p class="card-text" *ngIf="pagedStories[i+2].text != null &&  pagedStories[i+2].text.length < 375">  {{pagedStories[i+2].text}} </p>
                    <div class="row-fluid">
                      <button class="btn btn-primary btn-round btn-read" (click)="goToViewStory(pagedStories[i+2].id)">See full story</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

          <nav aria-label="Page navigation example">
            <ul  class="pagination">
              <li class="page-item" [ngClass]="{disabled:currentPage === 1}"> <a class="page-link" (click)="getStoriesPaginated(1)">First</a>

              <li class="page-item" *ngFor="let page of pages" [ngClass]="{active:currentPage === page}">
                <a class="page-link" (click)="getStoriesPaginated(page)">{{page}}</a>
              </li>

              <li class="page-item" [ngClass]="{disabled:currentPage === pages}">
                <a class="page-link" (click)="getStoriesPaginated(pages.length)">Last</a>
              </li>
            </ul>
          </nav>



        </div>
    </div>
  </div>
</div>
</div>
