<div class="section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mt-5">
        <h4 class="title text-center">{{story.title}}</h4>
        <h6 class="text-center"> written by <a href="/user/profile/{{story.userId}}" class="link"> {{userFound}}  </a> </h6>
        <div class="row mt-5 ml-5">
            <div class="ml-auto mr-auto text-center"> {{story.text}}</div>

        </div>
      </div>
    </div>

    <div *ngFor="let pic of photos; let i = index">
      <div class="row collections" *ngIf="i%3===0 && photos != null">
      <div class="d-flex flex-column ">
        <img src="{{photos[i]}}" class="img-fluid">
      </div>
      <div *ngIf="photos[i + 1]" class="d-flex flex-column ">
        <img src="{{photos[i+1]}}" class="img-fluid">
      </div>
      <div *ngIf="photos[i + 2]" class="d-flex flex-column">
        <img src="{{photos[i+2]}}" class="img-fluid">
      </div>
      </div>
    </div>

  </div>
</div>
