<div class="section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mt-5">
        <h4 class="title text-center">{{story.title}}</h4>
        <h5 class="text-center"> {{userFound}}</h5>
        <div class="row mt-5 ml-5">
            <div class="ml-auto mr-auto text-center"> {{story.text}}</div>

        </div>
      </div>
    </div>

    <div class="d-flex flex-row mt-5">
      <div class="d-flex flex-column ">
        <img src="assets/img/bg1.jpg" class="img-fluid">
        <img src="assets/img/bg3.jpg" class="img-fluid">
      </div>
      <div class="d-flex flex-column ">
        <img src="assets/img/ryan.jpg" class="img-fluid">
        <img src="assets/img/bg5.jpg" class="img-fluid">
      </div>
      <div class="d-flex flex-column">
        <img src="assets/img/bg6.jpg" class="img-fluid">
        <img src="assets/img/ryan.jpg" class="img-fluid">
      </div>
      <div class="d-flex flex-column">
        <img src="assets/img/bg8.jpg" class="img-fluid">
        <img src="assets/img/bg11.jpg" class="img-fluid">
      </div>
    </div>

  </div>
</div>
