<div class="section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mt-5">
        <h2 class="title display-4 text-primary text-center">{{story.title}}</h2>
        <h5 class="text-center"> written by <a href="/user/profile/{{story.userId}}" class="link"> {{userFound}}  </a> </h5>
        <div class="row mt-5">
          <p class="ml-auto mr-auto">{{story.text}}</p>
        <hr> <hr>
        </div>
      </div>
    </div>

   <div class="row">
     <div class="column flex-column">
       <div *ngFor="let pic of photos; let i = index">
        <img  *ngIf="i%3 == 0 && photos != null" src="{{photos[i]}}" class="img-fluid">
      </div>
    </div>
     <div class="column  flex-column">
       <div *ngFor="let pic of photos; let i = index">
         <img  *ngIf="i%3 == 1 && photos != null" src="{{photos[i]}}" class="img-fluid">
       </div>
     </div>
     <div class="column  flex-column">
       <div *ngFor="let pic of photos; let i = index">
         <img  *ngIf="i%3 == 2 && photos != null" src="{{photos[i]}}" class="img-fluid">
       </div>
     </div>

   </div>

  </div>
</div>


