<div class="row row-map">
  <div class="col-md-9">
    <h2 class="heading">Map</h2>
    <hr/>

    <div id='menu'>
      <input id='streets' type='radio' name='rtoggle' value='streets'>
      <label for='streets'>streets</label>
      <input id='comic' type='radio' name='rtoggle' value='comic'>
      <label for='comic'>comic</label>
      <input id='light' type='radio' name='rtoggle' value='light'>
      <label for='light'>light</label>
      <input id='outdoors' type='radio' name='rtoggle' value='outdoors'>
      <label for='outdoors'>outdoors</label>
      <input id='satellite' type='radio' name='rtoggle' value='satellite'>
      <label for='satellite'>satellite</label>
      <input id='pencil' type='radio' name='rtoggle' value='pencil'>
      <label for='pencil'>pencil</label>
      <input id='pirates' type='radio' name='rtoggle' value='pirates'>
      <label for='pirates'>pirates</label>
      <input id='high-contrast' type='radio' name='rtoggle' value='high-contrast'>
      <label for='high-contrast'>high-contrast</label>
      <button (click)="updateMapType()" class="btn btn-primary btn-round float-right"> Save style</button>
    </div>
    <hr/>
    <div id="map"></div>

  </div>

</div>
