<div class="wrapper">
  <div class="section">
    <div class="container">

      <div class="row"></div>
      <div class="row">
        <div class="mt-5">
          <h1 class="title text-center">Stories</h1>
          <div class="row mt-5">
            <div class="col-md-12 ml-auto mr-auto">
              <div *ngIf="stories != undefined">
              <h6 class="text-center" *ngIf="stories.length == 0"> There are no stories yet for this mountain</h6>
              <div *ngFor="let story of stories">
                <div class="row collections">
                  <div class="col-md-12">
                    <div class="card" style="height: 68rem;">
                      <img class="card-img-top" *ngIf="story.pictures != null" src="{{prelucrateImage(story.pictures[0])}}" alt="Card image cap">
                      <img class="card-img-top" *ngIf="story.pictures == null" src="assets/img/default.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{story.title}}</h5>
                        <p class="card-text" *ngIf="story.text != null &&  story.text.length >= 1070">  {{truncateDescription(story.text)}} ... </p>
                        <p class="card-text" *ngIf="story.text != null &&  story.text.length < 1070">  {{story.text}}  </p>
                        <button class="btn btn-primary btn-round btn-read" (click)="goToViewStory(story.id)">Read more</button>
                        <button class="btn btn-primary btn-round btn-simple btn-edit"  *ngIf="isOwner(idUser)" (click)="goToEditStory(story.id)">Edit story</button>
                        <button class="btn btn-danger btn-round btn-delete ml-3"  *ngIf="isOwner(idUser)" (click)="deleteStory(story.id)"> Delete</button>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
